// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.blue{
    color:#3490dc;
}
.red{
    color: #e3342f;
}
.green{
    color:#38c172;
}
.orange{
    color:orange;
}
.silver{
    color:rgb(131, 128, 128);
}